.arrowDown, .arrowDownContainer {
	display: none;
}

@media (max-width: 63em) {
	.descriptor {
		margin-bottom: auto;
	}
	.arrowDown {
		//display: block;
		width: 25px;
	}
	.descriptor {
		text-align: left;
		margin-left: 0;
		max-width: 100%;
	}
	.learnMore {
		text-align: left;
	}
	.logoContainer {
		left: 2em;
		margin-left: 0;
		top: 1em;
	}
	.homeSplitContainer, .homeSplitContainer > .col.homeSplitRight {
		height: auto;
	}
	.homeSplitContainer .row, .colInner {
		align-items: center;
	}
	.homeSplitRight .colInner .row .col:first-of-type {
		margin-top: 0;
	}
}

@media (min-width: 64em) {
	.arrowDown {
		display: none;
	}
	.menuInner > ul:first-of-type {
		//flex-wrap: wrap;
		//flex-direction: row;
	}
	.menu-item {
		flex: 0 0 50%;
	}
	.menuContainer {
		display: flex;
		//align-items: center;
		height: 100%;
		justify-content: center;
		padding-bottom: 2em;
	}
}

@media (max-width: 1024px) {
	.arrowRightList li {
		font-size: 28px;
	}
	.descriptor {
		font-size: 32px;
		line-height: 1.7em;
	}
	.arrowRightList li::before {
		top: 13px;
	}
	.mobileOnly {
		display: block;
	}
	.desktopOnly {
		display: none;
	}
	.light p.mobileOnly {
	    display: block;
	    color: #333;
	    text-align: right;
	    width: calc(50% - 4em);
	    margin-bottom: 0;
	}
}

@media (min-width: 1025px) {
	.mobileOnly {
		display: none;
	}
	.desktopOnly {
		display: block;
	}
}

@media (max-width: 1023px) {
	.hamburger-inner, 
	.hamburger--spin .hamburger-inner::before, 
	.hamburger--spin .hamburger-inner::after {
		background-color: #000;
	}
	.about .modal-body .col:last-of-type {
		order: -1;
		margin-bottom: 30px;
	}
}

@media (max-width: 1024px) and (orientation: landscape) {
	.bioOverlayContainer, .formOverlayContainer {
		top: 60%;
	}
}

@media (max-width: 768px) {
	.formOverlayContainer input {
		float: none;
		width: 100%;
	}
}

@media (min-width: 768px) and (orientation: portrait) {
	.menuContainer {
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: center;
	}
}

@media (max-width: 980px) {
	footer {
		background-color: $brandPurple;
		padding: 25px 0;
	}
	.pageTitle {
		margin-bottom: 1em;
	}
	footer .textAlignCenter {
		text-align: left;
	}
	.contentWrapper {
		padding-top: 100px;
	}
	.logoContainer a, .page.home .logoContainer a {
		padding: 1em 2.25em;
	}
	.light p.mobileOnly {
	    display: block;
	    color: #fff;
	    text-align: left;
	    width: auto;
		margin-bottom: 2em;
	}
}

@media (min-width: 981px) {
	footer {
		position: absolute;
	    right: 0;
	    z-index: 99999;
	    bottom: 25px;
	}
	.page .logoContainer a {
		padding: 2em 2.25em;
		display: block;
	}
	.page footer {
		background-color: $brandPurple;
		padding: 25px 0;
		width: 100%;
		bottom: 0;
		position: relative;
	}
	footer .textAlignCenter {
		text-align: right;
	}
	footer .innerContainer {
		max-width: 100%;
	}
}

@media (max-width: 540px) {
	.colInner {
	    padding: 4em 2em;
	}
	.modal {
		align-items: flex-start;
		padding-top: 4em;
	}
	.clientListContainer img {
		padding: 20px 10px;
	}
	.descriptor {
		font-size: 28px;
	}
	.logoContainer {
	   left: 0;
	   max-width: 250px;
	   top: 1em;
	}
	.small {
		max-width: 110px;
	}
	.smaller {
		max-width: 90px;
	}
	.homeSplitLeft, .homeSplitRight {
		min-height: 100vh;
	}
	.arrowDown {
		display: block;
		align-self: flex-end;
		width: 20px;
	}
	.arrowDownContainer {
		display: block;
	}
	.homeSplitLeft .colInner .row .col:first-of-type {
		margin-top: 100px;
	}
	.homeSplitLeft .colInner .row .col:last-of-type {
		display: flex;
		flex-direction: column;
	}
	.bioOverlay, .formOverlay {
		width: 100%;
		left: 0;
		overflow: auto;
		z-index: 999999;
	}
	.formOverlayContainer label:nth-of-type(odd) input {
		margin-right: 0;
	}
	.bottomLeftTexture {
		left: auto;
	    right: 0;
	    transform: rotate(180deg);
	    width: 120px;
	    opacity: .75;
	    bottom: -25px;
	}
	.homeSplitLeft {
		overflow: hidden;
	}
}

@media (max-width: 850px) and (orientation: landscape) {
	.bioOverlay, .formOverlay {
		width: 100%;
		left: 0;
		overflow: auto;
		z-index: 999999;
	}
	.modal {
		align-items: flex-start;
		padding-top: 4em;
	}
	.bottomLeftTexture {
		left: auto;
	    right: 0;
	    transform: rotate(180deg);
	    width: 120px;
	    opacity: .75;
	    bottom: -25px;
	}
	.homeSplitLeft {
		overflow: hidden;
	}
	.bioOverlayContainer, .formOverlayContainer {
		top: auto;
		left: auto;
		transform: none;
	}
}

@media (min-width: 1024px) {
	.descriptor {
		position: relative;
		top: -6px;
	}
	.footer::before {
		background: #fff;
	    position: absolute;
	    height: 100%;
	    width: 50%;
	    top: 0;
		left: 0;
		content: "";
	}
	.footer::after {
		background: #fff;
	    position: absolute;
	    height: 100%;
	    width: 50%;
	    top: 0;
		right: 0;
		opacity: .1;
		content: "";
	}
	.footer .innerContainer {
		display: flex;
	    align-items: flex-end;
	    justify-content: space-between;
	    position: relative;
	}
	.footer p:first-child {
		margin-bottom: 0;
	    width: calc(50% - 4em);
	    text-align: right;
	    color: #333;
	}
	.footer p:last-child {
		width: calc(50% - 4.5em);
		text-align: left;
	}
	.footer {
		position: relative;
		width: 100%;
	}
	.homeSplitContainer {
		min-height: calc(100vh - 98px);
	}
}